$content-heigh: calc(100vh - 100px);

.main {
  display: block;
  grid-template-columns: 27% 1fr;

  .sidebar {
    display: none;
    height: $content-heigh;
    background-color: palegoldenrod;
  }

  .content {
    height: $content-heigh;
    padding: 15px;

    font-weight: 700;
    color: #7d8fb3;

    .main__content {
      background-color: #fff;
      box-shadow: 0px 2px 5px 0px #26334d08;
      border-radius: 10px;

      .content__header {
        display: block;
        grid-template-columns: 28.5% 1fr;

        .header__left {
          display: none;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          padding: 25px 30px;

          border-right: 2px solid #f5f6f7;
          border-bottom: 2px solid #f5f6f7;

          .left__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 20px;

            p {
              font-size: 13px;
              line-height: 25px;
            }
          }
        }

        .header__right {
          padding: 20px 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          column-gap: 5px;

          border-bottom: 2px solid #f5f6f7;

          .right__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 5px;
          }

          .right__name {
            display: flex;
            flex-direction: row;
            align-items: center;
            columns: 10px;

            .green-dot {
              width: 30px;
              height: 30px;

              display: flex;
              align-items: center;
              justify-content: center;

              .dot {
                width: 7px;
                height: 7px;

                background-color: #29cc39;

                border-radius: 999px;
              }
            }

            p {
              font-size: 13px;
              line-height: 25px;
            }
          }

          .right__right {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 5px;
          }
        }
      }

      .content__primary {
        display: block;
        grid-template-columns: 28.5% 1fr;

        .primary__left {
          padding: 20px 30px;

          display: none;
        }

        .primary__right {
          padding: 20px 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    .content {
      .main__content {
        .content__header {
          .header__right {
            padding: 25px 30px;

            .right__left {
              column-gap: 20px;

              .group-icon {
                display: none;
              }
            }
            .right__right {
              column-gap: 20px;
            }
          }
        }

        .content__primary {
          .primary__right {
            padding: 35px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .main {
    .content {
      padding: 30px 45px;

      .main__content {
        .content__header {
          display: grid;

          .header__left {
            display: flex;
          }

          .header__right {
            padding: 25px 30px;
          }
        }

        .content__primary {
          display: grid;

          .primary__left {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .main {
    display: grid;

    .sidebar {
      display: block;
    }

    .content {
      padding: 30px;
    }
  }
}
